<ion-content class="ion-padding">
  <div class="container">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Join a Game Room</ion-card-title>
        <ion-card-subtitle>Almost ready for some awesome gaming...</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <ion-item>
          <ion-label position="floating">Username</ion-label>
          <ion-input (click)="playClick()" [(ngModel)]="username" type="text"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Room Code</ion-label>
          <ion-input (click)="playClick()" [(ngModel)]="roomCode" maxlength="8" counter="true" type="text"></ion-input>
        </ion-item>
        <ion-button [disabled]="IsDisabled()" (click)="joinRoom()" expand="block" class="join-button">
          <ion-icon name="game-controller-outline" slot="start"></ion-icon>
          Join Game
        </ion-button>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>

